aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.ac
configure.in
install-sh
Makefile
Makefile.in
Makefile.am
Makefile.am.common
missing
*.pot
*.ami
.dep
doc/*.html
doc/css/*.css
doc/js/*.js
package/*.bz2
test/*.log
test/*.trs
test/site.exp
test/config
test/run
test-driver
/.yardoc
