aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.ac
configure.in
coverage
install-sh
Makefile
Makefile.in
Makefile.am
Makefile.am.common
missing
*.pot
*.ami
.dep
doc/autodocs/*.html
doc/autodocs/*.tmp
doc/autodocs/.yardoc
doc/autodocs/css
doc/autodocs/js
doc/autodocs/Yast
package/*.bz2
test/*.log
test/*.trs
test/site.exp
test/config
test/run
test-driver
/.yardoc
